@use "@styles/base/mixins" as *;

.home {
	padding-block: toRem(60);
	// .home__container
	&__container {
	}
	// .home__title
	&__title {
		margin-bottom: toRem(15);
		color: var(--text-accent);
	}
	// .home__label
	&__label {
		font-weight: 600;
		line-height: 1.5;
		color: var(--text-accent);
		margin-bottom: toRem(12);
		font-size: toRem(18);
	}
	// .home__list
	&__list {
	}
}

.list-home {
	// .list-home__item
	&__item {
		display: flex;
		align-items: center;
		column-gap: toRem(12);
		font-weight: 500;
		font-size: toRem(18);
		line-height: 1.5;
		color: var(--text-accent);
		&:not(:last-child) {
			margin-bottom: toRem(8);
		}
		&::before {
			content: "";
			flex-shrink: 0;
			margin-top: toRem(1);
			align-self: flex-start;
			width: toRem(24);
			aspect-ratio: 1;
			border-radius: 50%;
			background:
				url("@img/icons/checkmark.svg") center / toRem(14) no-repeat,
				var(--bg-accent);
		}
	}
}
