@use "@styles/base/mixins" as *;

.page404 {
	// .page404__container
	&__container {
		padding-block: toRem(60);
		display: flex;
		justify-content: center;
		align-items: center;
		min-height: calc(100svh - toRem(70));
	}
	// .page404__text
	&__text {
		font-weight: 600;
		color: var(--accent);
		font-size: toRem(110);
	}
}
