@use "@styles/base/mixins" as *;
@use "@styles/base/animation" as *;

.products {
	padding-block: toRem(60);
	// .products__container
	&__container {
	}
	// .products__title
	&__title {
		margin-bottom: toRem(20);
	}
	// .products__nav
	&__nav {
		margin-bottom: toRem(25);
	}
	&__loader {
		width: 100%;
		min-height: toRem(330);
		display: flex;
		justify-content: center;
		align-items: center;
	}
	// .products__list
	&__list {
	}
}

.list-product {
	border: toRem(1) solid #e5e5e5;
	border-top: none;
	border-left: none;
	opacity: 0;
	animation: show-item 0.3s forwards ease;
	min-height: auto;
	@media (width > toEm(500)) {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
	}
	@media (width > toEm(991.98)) {
		grid-template-columns: repeat(4, 1fr);
	}
	&:has(.loader) {
		display: flex;
		justify-content: center;
		align-items: center;
		min-height: toRem(330);
	}
	// .list-product__card
	.card-product {
		border-right-width: 0;
		border-bottom-width: 0;
	}
}
