@use "@styles/base/animation.scss" as *;
@use "@styles/base/mixins.scss" as *;

.shop {
	padding-block: toRem(60);
	// .shop__container
	&__container {
	}
	// .shop__title
	&__title {
		margin-bottom: toRem(25);
	}
	// .shop__body
	&__body {
		&:has(.loader) {
			display: flex;
			justify-content: center;
			align-items: center;
			min-height: toRem(275);
		}
	}
	// .shop__categories
	&__categories {
		display: grid;
		grid-template-columns: repeat(4, 1fr);
		gap: toRem(24);
	}
}
