@use "@styles/base/mixins" as *;

.rules {
	padding-block: toRem(60);
	// .rules__container
	&__container {
	}
	// .rules__title
	&__title {
		&:not(:last-child) {
			margin-bottom: toRem(15);
		}
	}
	// .rules__text
	&__text {
		line-height: 1.5;
	}
}
